<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form action="/update" method="post">
<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>编号</td>
        <td><input th:value="${stulist.id}" readonly="readonly" name="id"/></td>
    </tr>
    <tr>
        <td>姓名</td>
        <td><input th:value="${stulist.name}" name="name"/></td>
    </tr>
    <tr>
        <td>性别</td>
        <td><input th:value="${stulist.sex}" name="sex"/></td>
    </tr>
</table>
<button type="submit">提交</button>
</form>
</body>
</html>